{%extends "base.html"%}

{%block content%}

<div class="w-100 container-fluid">

    <div class="container-fluid">
        <div class="row">
            <div class="text-center col-3">
                <form method='POST' action="/assign_gen/0/{{calendar[0].date.year}}/{{calendar[0].date.month}}">
                    <button class="m-3 btn btn-success" id="assign_btn" type="submit">Auto-Assign</button>
                </form>
            </div>
            <div class="col-1">
                <h1><a href="/assign/{{calendar[0].date.year}}/{{calendar[0].date.month-1}}">&lt</a></h1>
            </div>
            <div id="heading" class="d-block col-4">
                <h1 class="text-center">
                    {{calendar[0].date.strftime("%B %Y")}}
                </h1>
            </div>
            <div class="col-1">
                <h1><a href="/assign/{{calendar[0].date.year}}/{{calendar[0].date.month+1}}">&gt</a></h1>
            </div>
            <div class="text-center col-3">
                <form method='POST' action="/assign_gen/1/{{calendar[0].date.year}}/{{calendar[0].date.month}}">
                    <button class="m-3 btn btn-primary" id="clear_btn" type="submit">Clear Assignments</button>
                </form>
            </div>
        </div>

    </div>

    <table id="schedule" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
            
                {%for day in calendar%}
<tr>

                {%if day.assigned.get('DO')%}
                <td>{{day.date.strftime('%d %b %Y - %a')}}</td>

                    {%for u in users%}
                    {%if u.id == day.assigned.get('DO') %}
                
                <td>{{u}}</td>
                <td>{{u.email}}</td>
                    {%endif%}
                    {%endfor%}
                {%endif%}


               
            </tr> 
            {%endfor%}


        </tbody>

    <table id="matrix" class="d-none table table-striped table-hover">
        <thead>
            <tr>
                <th style="width: 2.5%;" class="mx-0 px-0" scope="col">Name</th>
                <th style="width: 2.5%;" class="mx-0 px-0" scope="col">Points</th>
                <th style="width: 2.5%;" class="mx-0 px-0" scope="col">Days</th>
                {%for day in calendar%}
                <th style="width: 2.5%;" class="text-center mx-0 px-0" scope="col">
                    <p class="d-none d-xl-table-cell">{{day.date.strftime("%a")}}</p>
                    <br class="d-none d-xl-block">
                    <p class="d-none d-lg-table-cell">{{day.date.strftime("%d")}}</p>
                </th>
                {%endfor%}
            </tr>
        </thead>

        <tbody>
            {%for u in users%}
            <tr>
                <td class="mx-0 px-0">{{u.last}}</td>
                <td class="text-center mx-0 px-0">{{u.points}}</td>
                <td class="text-center mx-0 px-0">{{days_by_user.get(u.id)}}</td>
                {%for day in calendar%}
                    <td class="assign_cell mx-0 px-0 rounded">
                        <form action="/change" method="post">
                            <input class="d-none" name="day_id" type="text" value="{{day.id}}"></input>
                            <input class="d-none" name="user_id" type="text" value="{{u.id}}"></input>
                            <button class='d-none' type="submit"></button>
                            </form>

                        {%if day.assigned['DO']==u.id%}
                        <h5 class="m-0 p-0 text-center">*</h5>
                        {%endif%}

                        <!-- if the user has made a bid put it in here, otherwise dont put an input -->
                        <input class="d-none" type="text" value="{{bids.get(u.id).get(day.id,-1)}}"></input>

                    </td>
                {%endfor%}

            </tr>
            {%endfor%}
        </tbody>
    </table>

</div>

<script>

    function colorCells() {
        $(this).removeClass('bg-danger bg-success');
        if ($(this).children("input").val() == 0) {
            $(this).addClass("bg-danger");
        }
        else if ($(this).children("input").val() == 1) {
        }
        else if ($(this).children("input").val() == 2) {
            $(this).addClass("bg-success");
        }
        else if ($(this).children("input").val() == -1) {
            $(this).addClass("bg-warning");
        }
    }

    $(document).ready(function () {
        $("td").each(colorCells);
        // $('.d-none').removeClass("d-none")
    });

    console.log("loaded")

    $(".assign_cell").click(function() {
        console.log("got click");
        $(this).find("form").submit();

    });
    // $('td').hover(function(){
    //     $(this).toggleClass('shadow mb-5')
    // });


$('#heading').click(function(){

$('#matrix').toggleClass('d-none');
$('#schedule').toggleClass('d-none');
});

$('td').each(function(){
    if ($(this).children("input").val()==0 && $(this).children("h5").text()=='*'){
        $(this).children("h5").text("-!-")
        $('#heading').append('<h5 class=" text-center text-danger">Conflict Detected<h5>')
    }
})

</script>

{%endblock%}