{%extends "base.html"%}

{%block content%}

<div class="container">
    <h5 class="text-center">Average: {{average|round(1)}} points</h5>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Points</th>
                <th scope="col">Difference from Avg</th>
            </tr>
        </thead>

        <tbody>
            {%for u in users%}
            <tr>
                <td>{{u}}</td>
                <td>{{u.points}}</td>
                <td class='average'><strong>{{(u.points-average)|round(1)}}</strong></td>

            </tr>
            {%endfor%}
        </tbody>
    </table>

</div>


<script>

    $(document).ready(function () {

        $('.average').each(function () {
            if (parseFloat($(this).text()) < 0) {
                $(this).addClass('text-danger')
            }
            else{
                $(this).addClass('text-success')
            }
        });

    });

</script>
{%endblock%}